@media(max-width: 1100px) {
  .main__inner-item {
    display: none;
  }
  .main__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .about__items {
    display: block;
    text-align: center;
  }
  .about__photo {
    margin-bottom: 25px;
  }
  .about__text {
    margin-bottom: 35px;
  }
  .about__info {
    margin-left: 0;
  }
  .header {
    margin-bottom: 75px;
  }
  .slick-prev {
    left: 44%;
  }
  .slick-next {
    right: 45%;
  }
}

@media(max-width: 950px) {
  .header__menu ul,
  .header__phone {
    display: none;
  }
  .header__menu ul {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    width: 100%;
    border-bottom: 5px solid #b1a276;
    padding: 30px 0 0 0;
    background-color: #fff;
  }
  .header__menu li {
    display: block;
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 15px;
  }
  .header__menu li:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  .header__menu li + li {
    margin-left: 0;
  }
  .header__menu a {
    display: block;
  }
  .header__menu-btn {
    display: block;
  }
  .about__photo img {
    width: 70%;
  }
  .news__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .news__item img {
    margin-top: 30px;
  }
  .news__title {
    margin-bottom: 52px;
  }
}

@media (max-width: 760px) {
  .feedack__consultation,
  .feedack__consultation a {
    font-size: 30px;
  }
  .feedback__slider-title {
    font-size: 34px;
  }
  .footer__copy-inner {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .main__form-title {
    font-size: 24px;
  }
  .main__form-subtitle {
    font-size: 16px;
  }
  .news__title {
    font-size: 29px;
    margin-bottom: 15px;
  }  
  .main__inner-form {
    padding: 17px;
  }
  .main__form-title {
    font-size: 16px;
  }
  .main__form-subtitle {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .feedack__consultation,
  .feedack__consultation a {
    font-size: 24px;
  }
  .feedback__slider-title {
    line-height: 40px;
  }
  .footer__address,
  .footer__email {
    margin-right: 0;
  }

  .footer__address::before,
  .footer__email::before {
    content: '';
  }
  .footer__contacts-info {
    display: block;
  }
}

@media (max-width: 420px) {
  .footer__copy {
    height: 110px;
  }

  .footer__copy-link {
    display: block;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .footer__copy-link::before {
    content: '';
  }
}

@media (max-width: 350px) {
  .about__title {
    font-size: 40px;
  }
}

@media (min-width: 951px) {
  .header__menu ul {
    display: block !important;
  }
}